<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLiteDialect</property>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:InvMan.sqlite3</property>
        <property name="hibernate.connection.username"></property>
        <property name="hibernate.connection.password"></property>

        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>

        <property name="show_sql">true</property>


        <mapping class="net.vatri.inventory.models.Product"></mapping>
        <mapping class="net.vatri.inventory.models.ProductGroup"></mapping>
        <mapping class="net.vatri.inventory.models.GroupVariant"></mapping>

        <mapping class="net.vatri.inventory.models.User"></mapping>

        <mapping class="net.vatri.inventory.models.Order"></mapping>
        <mapping class="net.vatri.inventory.models.OrderItem"></mapping>


    </session-factory>
</hibernate-configuration>